@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-slate-300, #d5e1ef);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 3rem;
}

.card {
  width: 20rem;
  height: max-content;
  display: flex;
  padding: var(--spacing-200, 1rem) var(--spacing-200, 1rem)
    var(--spacing-500, 2.5rem) var(--spacing-200, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300, 1.5rem);
  border-radius: 1.25rem;
  background: var(--color-white, #fff);

  /* card-shadow */
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

.card > img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

h1 {
  align-self: stretch;
  color: var(--color-slate-900, #1f314f);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* text-preset-1 */
  font-family: Outfit;
  font-size: var(--font-size-text-preset-1, 1.375rem);
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.65rem */
}

h2 {
  align-self: stretch;

  color: var(--color-slate-500, #68778d);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  /* text-preset-2 */
  font-family: Outfit;
  font-size: var(--font-size-text-preset-2, 0.9375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.3125rem */
  letter-spacing: 0.0125rem;
}
